body,html {
	font-size: 12px;
	min-width: 300px;
    height：100%；
    font-family: "microsoft yahei";
}

body,ul,p,h3,h5{
	margin: 0;
	padding: 0;
}
img{
	border: 0;
	outline: none;
    width:100%;
    height:100%;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.ovh{
    overflow: hidden;
}
.por{
	position:relative;
}
.dpn{
	display: none;
}

.col9{
    color:#999;
}
.col_theme{
    color:#d9534f;
}
.pad_l0{
    padding-left:0;
}
.mar_tp15{
    margin-top:15px;
}
.mar_tp45{
    margin-top:45px;
}
.mar_bt10{
    margin-bottom:10px;
}
.mar_bt15{
    margin-bottom:15px;
}
.mar_bt25{
    margin-bottom:25px;
}
.mar_lr5{
    margin: 0 5px;
}
.mar_lr15{
    margin: 0 15px;
}
.mar_tb10{
    margin: 10px 0;
}
.mar_tb25{
    margin: 25px 0;
}
.mar_frame{
	margin:10px 15px;
}

.txt_ovr{text-overflow:-o-ellipsis-lastline;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical}.txt_one{white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden}.set_style_pos{position:absolute;top:0;left:0;width:100%;height:100%}.heart_mark{color:#d9534f}.navbar{border:0;border-radius:0;margin:0;background:#d9534f;box-shadow:1px 1px 1px 1px #cecaca}.theme_frame{background:#fcf8e3}.theme_box{background:#fcf8e3;color:#d9534f}.set_bar .icon-bar{background-color:#d9534f}.nav>li>a:hover,.nav>li>a:focus{color:#fff;text-shadow:1px 1px 1px #999;background-color:rgba(230,126,123,0.52)}.banner_frame{position:relative}.banner_box img{width:100%;max-height:450px}.identification_frame{position:absolute;bottom:12px;text-align:center;left:0;right:0}.identification_box{display:inline-block;position:initial;width:auto;margin:0}.identification_box .active{width:32px;height:2px;margin:0;background-color:#de0000}.identification_box li{float:left;width:32px;height:2px;display:block;background:rgba(217,83,79,0.77);margin:0 3px;cursor:pointer;border:0}.content_box{padding:40px 15px 0 15px}.set_exhibition_list .thumbnail{border-radius:0;cursor:pointer;box-shadow:1px 1px 1px 1px #efefef;border:1px solid rgba(212,212,212,0.43)}.set_exhibition_list .thumbnail:hover{box-shadow:1px 1px 1px 1px rgba(0,0,0,0.22);border:1px solid rgba(0,0,0,0.11)}.picture_and_text img{height:100%;max-height:250px;min-height:80px}.picture_and_text .caption h3{margin:15px 0}.picture_and_text .caption p{min-height:34px;-webkit-line-clamp:2}.text_information_box{margin:10px 0 24px 0}.text_infor_title{font-weight:600;color:#d9534f;margin-bottom:14px}.text_infor_content{font-size:15px}.topic_space{background:#f4f4f4;padding:20px 15px}.samll_topic_title{color:#999;margin:15px 0}.samll_topic_picture{margin:20px 0;max-height:403px;overflow:hidden}.samll_topic_picture img{width:-webkit-calc(100%+15px);width:calc(100%+15px);opacity:1;-webkit-transition:opacity .35s,-webkit-transform .35s;transition:opacity .35s,transform .35s;-webkit-transform:translate3d(-30px,0,0) scale(1.12);transform:translate3d(-30px,0,0) scale(1.12);-webkit-backface-visibility:hidden;backface-visibility:hidden}.samll_topic_picture:hover img{opacity:.5;-webkit-transform:translate3d(0,0,0) scale(1);transform:translate3d(0,0,0) scale(1)}.space_picture_list{max-height:158px}.space_picture_list:hover img{opacity:.7;box-shadow:1px 1px 1px 1px rgba(0,0,0,0.52)}.read_text_list tbody tr td{padding:12px 8px;border-bottom:1px solid #ddd}.read_text_list tbody tr td a{color:#333}.read_text_list tbody tr td a:hover,.read_text_list tbody tr td a:focus{color:#d9534f;text-decoration:none}.best_scenery_box .best_scenery_details img{max-height:114px;transition:transform 1s;-webkit-transition:transform 1s}.best_scenery_box .best_scenery_details:hover img{transition:rotateY(180deg);-webkit-transform:rotateY(180deg)}.scenery_details_infor{position:absolute;color:#fff;padding:2em;height:100%;width:100%;z-index:1;background:rgba(0,0,0,0.57)}.best_scenery_box .best_scenery_details:hover .scenery_details_infor{display:block}.footer_frame{background:#191919;padding:15px 30px}.footer_frist{margin:10px 0;color:#999}.footer_logo_picture img{width:8em}.footer_frist a{color:#999}.footer_last{border-top:1px #282828 solid;padding-top:10px;color:#666}.neck_content_set{position:absolute;z-index:1;width:100%;margin:0}.minutea_banner_box .item img{min-height:178px}.head_text_infor{background-color:rgba(255,255,255,0.26);padding:10px}.head_text_infor p{margin-bottom:12px;min-height:34px;-webkit-line-clamp:2}.neck_picture_set i{animation:circle 2s infinite linear;-webkit-animation:circle 2s infinite linear}@-webkit-keyframes circle{0%{transform:rotate(0deg)}100%{transform:rotate(-360deg)}}.neck_picture_set .head_icon{float:right;height:45px;width:45px;margin:5px;background:url(../images/foot.png) no-repeat;background-size:cover;border-radius:50%;border:1px solid rgba(18,150,219,0.28);background-color:rgba(255,255,255,0.3)}.minutes_mark_picture img{min-height:154px;position:relative;max-height:225px}.mark_picture_style{color:#fff;padding:3em;text-align:left}.mark_picture_style h5{padding:21% 0 10px 0;opacity:.3}.mark_picture_style::before{position:absolute;top:30px;right:30px;bottom:30px;left:30px;border:1px solid #fff;content:'';opacity:0;-webkit-transition:opacity .35s,-webkit-transform .35s;transition:opacity .35s,transform .35s;-webkit-transform:translate3d(-20px,0,0);transform:translate3d(-20px,0,0)}.mark_picture_style p{opacity:0;-webkit-transition:opacity .35s,-webkit-transform .35s;transition:opacity .35s,transform .35s;-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}.minutes_mark_picture:hover img{opacity:.7;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.minutes_mark_picture:hover .mark_picture_style::before,.minutes_mark_picture:hover h5,.minutes_mark_picture:hover p{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.minutes_mark_title i{display:block;float:left;width:16px;height:16px;background:url(../images/common.png) no-repeat -104px 0}.minutes_mark_content{-webkit-line-clamp:2}.minutes_mark_people{margin-top:10px;border-top:1px solid #999;padding-top:10px;display:flex}.minutes_mark_people img{width:4em;height:4em;margin-right:8px}.minutes_mark_people span{line-height:4em}.recommend_l_box img{max-height:125px}.recommend_picture_style{color:#fff;padding:3em;text-align:left}.recommend_picture_style h5{top:30px;opacity:0;-webkit-transition:-webkit-transform .35s;transition:transform .35s;-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0)}.recommend_l_box:hover h5{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.recommend_picture_style p{color:#555;transition:color .35s,transform .35s}.recommend_l_box:hover .recommend_picture_style p{margin-top:5%;color:#ddd;border-top:1px solid #ddd}.recommended_r_title{font-size:16px}.interest_head_box{margin-top:4em}.interest_head_box h3{text-indent:2em}.interest_head_infor{font-size:1.2em;border-bottom:1px solid #ddd;padding-bottom:5px;margin-top:22px}.interest_head_infor i{display:block;float:left;width:35px;height:35px;margin-right:8px;background:url(../images/bird.png) no-repeat;background-size:100%}.interest_head_infor span{font-size:1.8em;margin:0 5px}.interest_been_list{border-right:1px solid #ddd}.interest_head_img{text-align:center;padding-bottom:8px;margin-bottom:8px;border-bottom:1px solid #ddd}.interest_head_img img{max-width:10em;border-radius:50%;border:1px solid rgba(0,0,0,0.35);padding:2px}.intereat_code_img img{width:8em}.intereat_been_infor{position:absolute;bottom:0;width:100%;padding:1em;height:3.75em;background:rgba(255,255,255,0.73);color:#3c4a50;-webkit-transition:-webkit-transform .35s;transition:transform .35s;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}.intereat_been_content:hover .intereat_been_infor{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.intereat_been_content img{max-height:266px}.intereat_panorama_img img{max-height:400px;float:left;cursor:move;position:relative}.about_frame{margin:25px 15px 30px 15px}.about_fl_box{border-right:1px solid #ddd}.b_frame{margin:25px 30px 30px 40px}.b_fl_sidebar{padding:0;background:#fff;box-shadow:0 0 17px 0 rgba(32,21,18,0.23)}.b_fl_sidebar p{padding:15px 20px;font-weight:700;font-size:1.1em;cursor:pointer}.fl_sidebar_logo{background-color:#cd0000;text-align:center;padding:15px 20px}.fl_sidebar_logo img{width:95%;padding:30px 0}.b_fr_sidebar img{max-height:300px;margin:25px 0}